body {
  margin: 0;
  box-sizing: border-box;
  font-family: serif;
  font-size: 20px;
  color: #f5f9e9;
  background-color: #3f4045;
  background-image: url('seamless_cork.jpg');
  background-repeat: repeat;
}
a {
  text-decoration: none;
  color: #8fb339;
}
.page {
  width: 70vw;
  margin: 25px auto;
  padding: 20px;
  background-color: #8fb339;
  border-radius: 30px;
  box-shadow: 2px 2px 15px 5px #3f4045;
}
.header {
  text-align: center;
  background-color: #2a4d14;
  padding: 5px 0 10px;
  border-radius: 10px 10px 0 0;
  color: #f5f9e9;
  font-size: 24px;
}
.menu {
  background-color: #2a4d14;
  padding: 10px;
  margin: 3px 0 20px;
  border-radius: 0 0 10px 10px;
}
.menu div {
  display: inline-block;
}
.menu ul {
  margin: 0;
  padding: 0;
}
.menu li {
  list-style-type: none;
  display: inline-block;
}
.menu a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 100px;
  padding: 10px;
  margin: 5px;
  border: 2px solid #8fb339;
  border-radius: 5px;
  color: #f5f9e9;
}
.menu a:hover {
  background-color: #f5f9e9;
  color: #0d1b2a;
  border-color: #3f4045;
  transition: 0.5s;
}
.menu .session {
  float: right;
}
.menu li div {
  text-align: center;
  white-space: nowrap;
  padding: 10px;
  width: 100px;
  margin: 5px;
  border: 2px solid #3f4045;
  border-radius: 5px;
  background-color: #8fb339;
  color: #0d1b2a;
}
.content {
  background-color: #f5f9e9;
  padding: 10px;
  border: 3px solid #2a4d14;
  border-radius: 10px;
  min-height: 50vh;
  color: #3f4045;
}
.formfield {
  margin: 10px 0 20px;
}
.formfield * {
  display: block;
  margin: 10px;
}
.formfield p {
  margin-top: -5px;
  font-size: 14px;
}
select, input, textarea {
  outline: none;
  resize: none;
  box-sizing: border-box;
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #8fb339;
  background-color: white;
  font-family: inherit;
  font-size: 16px;
}
.radiogroup > label {
  margin-bottom: 0;
}
.radio {
  margin: 0 0 0 10px;
}
.radio * {
  display: inline-block;
  margin: 0;
}
.radiogroup input {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #8fb339;
  margin: 5px;
  transform: translateY(10px);
}
.radiogroup input:checked {
  background-color: #8fb339;
  border: 2px solid #2a4d14;
  transition: 0.5s;
}
.button input {
  appearance: none;
  width: 125px;
  padding: 10px;
  background-color: #2a4d14;
  border-radius: 5px;
  border: 2px solid #8fb339;
  color: #f5f9e9;
  font-size: 20px;
}
.button input:hover {
  background-color: #f5f9e9;
  border: 2px solid #2a4d14;
  color: #0d1b2a;
  transition: 0.5s;
}
.response {
  background-color: #8fb339;
  border: 2px solid #2a4d14;
  border-radius: 10px;
  padding: 0 15px 15px;
  margin: 0 10px;
}
.details {
  background-color: #2a4d14;
  color: #f5f9e9;
  margin: 0 -15px;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}
.details p {
  margin: 5px 10px;
}
.response > p {
  margin: 10px 5px;
}
.message {
  padding: 0 10px;
  background-color: #f5f9e9;
  border-radius: 10px;
  border: 2px solid #2a4d14;
}
.footer {
  display: flex;
  justify-content: flex-end;
  background-color: #2a4d14;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  color: #f5f9e9;
}
.product-header {
  text-align: center;
}
.product-name {
  text-shadow: 2px 2px 4px #f5f9e9;
  color: #2a4d14;
}
.product-index {
  display: flex;
  flex-wrap: wrap;
}
.product-card {
  width: 350px;
  height: 640px;
  padding: 10px;
  margin: auto;
  margin-bottom: 40px;
  border-radius: 10px;
  text-align: center;
  background-color: #8fb339;
  box-shadow: 2px 2px 15px 5px #3f4045;
  color: #2a4d14;
}
.product-name {
  min-height: 80px;
}
img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: contain;
  margin: auto;
  background-color: #fff;
  border: 5px solid #fff;
}
.price-tag {
  background-color: #f5f9e9;
  margin: 30px 20px;
  padding: 20px;
  min-width: 120px;
  float: right;
  color: #0d1b2a;
  text-align: right;
  box-shadow: 1px 1px 2px 2px #2a4d14;
  border-radius: 10px;
}
.euros {
  display: inline;
}
.cents {
  display: inline;
  vertical-align: top;
}
.product-action {
  width: 100%;
  display: inline-block;
}
.add-product-button {
  float: right;
  appearance: none;
  width: 160px;
  margin: 0 20px 20px 0;
  padding: 10px;
  background-color: #2a4d14;
  color: #f5f9e9;
  border-radius: 5px;
  border: 2px solid #f5f9e9;
  cursor: pointer;
  font: inherit;
}
.add-product-button:hover {
  background-color: #f5f9e9;
  border: 2px solid #3f4045;
  color: #0d1b2a;
  transition: 0.5s;
}
.button input {
  appearance: none;
  width: 125px;
  padding: 10px;
  background-color: #2a4d14;
  border-radius: 5px;
  border: 2px solid #8fb339;
  color: #f5f9e9;
  font-size: 20px;
  cursor: pointer;
}
.button input:hover {
  background-color: #f5f9e9;
  border: 2px solid #2a4d14;
  color: #0d1b2a;
  transition: 0.5s;
}
