body {
  margin: 0;
  box-sizing: border-box;
  font-family: serif;
  font-size: 20px;
  color: #f5f9e9;
  background-color: #3f4045;
  background-image: url('seamless_cork.jpg');
  background-repeat: repeat;
}
a {
  text-decoration: none;
  color: #8fb339;
}
.page {
  width: 70vw;
  margin: 25px auto;
  padding: 20px;
  background-color: #8fb339;
  border-radius: 30px;
  box-shadow: 2px 2px 15px 5px #3f4045;
}
.header {
  text-align: center;
  background-color: #2a4d14;
  padding: 5px 0 10px;
  border-radius: 10px 10px 0 0;
  color: #f5f9e9;
  font-size: 24px;
}
.menu {
  background-color: #2a4d14;
  padding: 10px;
  margin: 3px 0 20px;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-end;
}
.menu a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 100px;
  padding: 10px;
  margin: 5px;
  border: 2px solid #8fb339;
  border-radius: 5px;
  color: #f5f9e9;
}
.menu a:hover {
  background-color: #f5f9e9;
  color: #0d1b2a;
  border-color: #3f4045;
  transition: 0.5s;
}
.menu .shopping {
  margin-left: auto;
  position: relative;
}
.menu .cart-circle {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 30px;
  position: relative;
  right: 10px;
}
#product-count {
  background-color: #2a4d14;
  border-radius: 50%;
  border: 2px solid #8fb339;
  width: 24px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  position: absolute;
  left: 25px;
  bottom: 35px;
}
.menu .account {
  display: inline-block;
}
.menu .username {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  padding: 10px;
  width: 100px;
  margin: 5px;
  border: 2px solid #f5f9e9;
  border-radius: 5px;
  background-color: #8fb339;
  color: #0d1b2a;
}
.content {
  background-color: #f5f9e9;
  padding: 10px;
  border: 3px solid #2a4d14;
  border-radius: 10px;
  min-height: 50vh;
  color: #3f4045;
}
.formfield {
  margin: 10px 0 20px;
}
.formfield * {
  display: block;
  margin: 10px;
}
.formfield p {
  margin-top: -5px;
  font-size: 14px;
}
select, input, textarea {
  outline: none;
  resize: none;
  box-sizing: border-box;
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #8fb339;
  background-color: white;
  font-family: inherit;
  font-size: 16px;
}
.radiogroup > label {
  margin-bottom: 0;
}
.radio {
  margin: 0 0 0 10px;
}
.radio * {
  display: inline-block;
  margin: 0;
}
.radiogroup input {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #8fb339;
  margin: 5px;
  transform: translateY(10px);
}
.radiogroup input:checked {
  background-color: #8fb339;
  border: 2px solid #2a4d14;
  transition: 0.5s;
}
.button input {
  appearance: none;
  width: 125px;
  padding: 10px;
  background-color: #2a4d14;
  border-radius: 5px;
  border: 2px solid #8fb339;
  color: #f5f9e9;
  font-size: 20px;
}
.button input:hover {
  background-color: #f5f9e9;
  border: 2px solid #2a4d14;
  color: #0d1b2a;
  transition: 0.5s;
}
.response {
  background-color: #8fb339;
  border: 2px solid #2a4d14;
  border-radius: 10px;
  padding: 0 15px 15px;
  margin: 0 10px;
}
.details {
  background-color: #2a4d14;
  color: #f5f9e9;
  margin: 0 -15px;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}
.details p {
  margin: 5px 10px;
}
.response > p {
  margin: 10px 5px;
}
.message {
  padding: 0 10px;
  background-color: #f5f9e9;
  border-radius: 10px;
  border: 2px solid #2a4d14;
}
.footer {
  display: flex;
  justify-content: flex-end;
  background-color: #2a4d14;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  color: #f5f9e9;
}
.product-header {
  text-align: center;
}
.product-name {
  text-shadow: 2px 2px 4px #f5f9e9;
  color: #2a4d14;
}
.product-index {
  display: flex;
  flex-wrap: wrap;
}
.product-card {
  width: 350px;
  height: 640px;
  padding: 10px;
  margin: auto;
  margin-bottom: 40px;
  border-radius: 10px;
  text-align: center;
  background-color: #8fb339;
  box-shadow: 2px 2px 15px 5px #3f4045;
  color: #2a4d14;
}
.product-name {
  min-height: 100px;
}
.product-card img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: contain;
  margin: auto;
  background-color: #fff;
  border: 5px solid #fff;
}
.price-tag {
  background-color: #f5f9e9;
  margin: 20px;
  padding: 20px;
  min-width: 120px;
  float: right;
  color: #0d1b2a;
  text-align: right;
  box-shadow: 1px 1px 2px 2px #2a4d14;
  border-radius: 10px;
}
.euros {
  display: inline;
}
.cents {
  display: inline;
  vertical-align: top;
}
.product-action {
  width: 100%;
  display: inline-block;
}
.add-product-button {
  float: right;
  appearance: none;
  width: 125px;
  margin: 0 20px 20px 0;
  padding: 10px;
  background-color: #2a4d14;
  color: #f5f9e9;
  border-radius: 5px;
  cursor: pointer;
  font: inherit;
}
.add-product-button:hover {
  background-color: #f5f9e9;
  border: 2px solid #3f4045;
  color: #0d1b2a;
  transition: 0.5s;
}
.cart-item {
  background-color: #8fb339;
  border: 2px solid #2a4d14;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
}
.cart-item img {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  object-fit: contain;
  background-color: #fff;
  border: 2px solid #fff;
}
.cart-item h3 {
  color: #f5f9e9;
  margin: 0 10px;
}
.item-amount {
  margin-left: auto;
}
.item-amount button {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 2px solid #0d1b2a;
  line-height: 20px;
  background-color: #2a4d14;
  font-size: 20px;
  color: #f5f9e9;
  cursor: pointer;
}
.item-amount button:hover {
  background-color: #f5f9e9;
  color: #0d1b2a;
  border: 2px solid #2a4d14;
  transition: 0.5s;
}
.item-amount .quantity {
  border: 2px solid #2a4d14;
  width: 55px;
  height: 40px;
  margin: 0 5px;
  line-height: 10px;
  font-size: 20px;
}
.item-amount .quantity::-webkit-inner-spin-button, .item-amount .quantity::-webkit-outer-spin-button {
  appearance: none;
}
.cart-item .subtotal {
  width: 270px;
}
.item-delete .fa-solid {
  font-size: 27px;
  color: #2a4d14;
  margin-right: 10px;
  cursor: pointer;
}
