$lincolngreen: #2a4d14;
$applegreen: #8fb339;
$ivory: #f5f9e9;
$onyx: #3f4045;
$richblack: #0d1b2a;

body {
    margin: 0;
    box-sizing: border-box;
    font-family: serif;
    font-size: 20px;
    color: $richblack;
    background-color: $onyx;
}
a {
    text-decoration: none;
    color: $applegreen;
}
.page {
    margin: 25px auto;
    width: 70vw;
    background-color: $applegreen;
    border-radius: 30px;
    padding: 20px;
}
.header {
    text-align: center;
    background-color: $lincolngreen;
    padding: 5px 0 10px;
    border-radius: 10px 10px 0 0;
    color: $ivory;
    font-size: 24px;
}
.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    background-color: $lincolngreen;
    padding: 10px;
    margin-top: 3px;
    border-radius: 0 0 10px 10px;
}
.menu a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 100px;
    padding: 10px;
    margin: 5px;
    border: 2px solid $applegreen;
    border-radius: 5px;
    color: $ivory;
}
.menu a:hover {
    background-color: $ivory;
    color: $richblack;
    border-color: $onyx;
    transition: 0.5s;
}
.content {
    background-color: $ivory;
    padding: 10px;
    border: 3px solid $lincolngreen;
    border-radius: 10px;
    min-height: 50vh;
}
.formfield {
    margin: 10px 0 20px;
}
.formfield * {
    display: block;
    margin: 10px;
}
select, input, textarea {
    outline: none;
    resize: none;
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid $applegreen;
    background-color: white;
    font-family: inherit;
    font-size: 16px;
}
.radiogroup > label {
    margin-bottom: 0;
}
.radio {
    margin: 0 0 0 10px;
}
.radio * {
    display: inline-block;
    margin: 0;
}
.radiogroup input {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $applegreen;
    margin: 5px;
    transform: translateY(10px);
}
.radiogroup input:checked {
    background-color: $applegreen;
    border: 2px solid $lincolngreen;
    transition: 0.5s;
}
.button input{
    appearance: none;
    width: 100px;
    padding: 10px;
    background-color: $lincolngreen;
    border-radius: 5px;
    border: 2px solid $applegreen;
    color: $ivory;
}
.button input:hover {
    background-color: $ivory;
    border: 2px solid $lincolngreen;
    color: $richblack;
    transition: 0.5s;
}
.footer {
    display: flex;
    justify-content: flex-end;
    background-color: $lincolngreen;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
    color: $ivory;
}
